
/* BASIC */

* {
	outline: none !important;
}

body {
  font-family: "Poppins", sans-serif;
  height: calc(100vh-60px);
  background: #00695c;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: transparent;
  text-align: center;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

.btn {
	font-size: 13px;
    text-transform: uppercase;
    margin: 10px 0px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
	background-color: #4099e5;
    color: #fff;
}

.btn-primary:hover {
	background-color: #0066ff;
}

.btn-primary:focus {
	box-shadow: none !important;
}

.btn-primary:active {
	background-color: #0066ff !important;
	-moz-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
	border:none;
}

.btn-default {
	background-color: #eee;
    color: #004d40;
}

.btn-default:focus {
	box-shadow: none !important;
}

.btn-default:hover {
	background-color: #ddd;
    color: #004d40;
}

.btn-default:active {
	background-color: #ddd !important;
	-moz-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
	border:none;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  text-decoration: none;
  font-size: 16px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #4099e5;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #4099e5;
  text-decoration: none;
}

.underlineHover:hover:after{
  width: 100%;
}

body::-webkit-scrollbar {
    width: 0.7em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #004d40;
}
 
body::-webkit-scrollbar-thumb {
  	outline: 1px solid #00897b;
    background-color: #004d40;
}

/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

.bg-light {
    background-color: #00897b !important;
    color: #fff !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.jumbotron {
	background-color: #004d40;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 2rem;
}

.shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.17) !important;
}

.navbar-light .navbar-brand{
	color:#fff;	
}

.btn-default {
    background-color: #fff;
    color: #004d40;
}

.container-fluid {
	margin-top: 70px;
}

.list-group-item{
	background-color: #004d40;
}