
/* BASIC */

* {
	outline: none !important;
}

body {
  height: calc(100vh-60px);
  background: #00695c;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: transparent;
  text-align: center;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

.btn {
	font-size: 12px;
/*     text-transform: uppercase; */
/*     margin: 10px 0px; */
    font-weight: bold;
    border-radius: 3px;
    border: none;
/*     padding: 10px 20px; */
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.btn-primary {
	background-color: #4099e5;
    color: #fff;
}

.btn-primary:hover {
	background-color: #0066ff;
}

.btn-primary:focus {
	box-shadow: none !important;
}

.btn-primary:active {
	background-color: #0066ff !important;
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
	border:none;
}

.btn-default {
	background-color: #ddd;
    color: #004d40;
}

.btn-default:focus {
	box-shadow: none !important;
}

.btn-default:hover {
	background-color: #eee;
    color: #004d40;
}

.btn-default:active {
	background-color: #eee !important;
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
	border:none;
}

.btn-warning {
	background-color: #22fc7f;
    color: #004d40;
}

.btn-warning:focus {
	box-shadow: none !important;
}

.btn-warning:hover {
	background-color: #4aff97;
    color: #004d40;
}

.btn-warning:active {
	background-color: #4aff97 !important;
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
	border:none;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -o-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

input[type=text], input[type=password], textarea {
  background-color: #eee !important;
  border: none;
  color: #0d0d0d;
  text-decoration: none;
  font-size: 14px;
  -webkit-border-radius: 3px;
  border-radius: 3px !important;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #03382f;
  content: "";
  transition: width 0.1s;
  text-decoration: none;
}

.underlineHover:hover {
  color: #03382f;
  text-decoration: none;
}

.underlineHover:hover:after{
  width: 100%;
}

*::-webkit-scrollbar {
    width: 0.7em;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #03382f;
}
 
*::-webkit-scrollbar-thumb {
  	outline: 1px solid #00897b;
    background-color: #03382f;
}

/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

.bg-light {
    background-color: #00897b !important;
    color: #fff !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0;
}

.jumbotron {
	background-color: #004d40;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 2rem;
}

.shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.17) !important;
}

.navbar-light .navbar-brand{
	color: #00404d;
    font-size: 16px;
    background: #22fc7f;
    padding: 8px 11px;
    text-align: center;
    box-shadow: -8px 0 0 #03a849 inset;
}

.navbar-brand-username{
	color: #ddd;
    font-size: 16px;
    background: transparent;
    padding: 5px 10px;
    margin-right: 15px;
}

a.navbar-brand-username:hover {
	color: #fff !important;
    border: 1px solid #fff !important;
    text-decoration: none;
}

.nav-link {
	color:#ddd !important;
}

.nav-link:hover {
	color:#03382f !important;
	background: #ddd;
}

.nav-link.active:hover {
	color:#ddd !important;
	background: #004d40;
}

.container-fluid {
	margin-top: 50px;
}

.list-group-item {
	margin-bottom : 0px;
	background-color: #00796B;
    border-bottom: 1px solid #00695C !important;
    cursor : pointer;
}

.list-group-item:hover {
	background-color: #00695C;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #004D40;
    border : none;
    border-bottom: 1px solid #00695C !important;
}

.jumbotron-table {
	height: 300px;
    overflow: auto;
    padding: 0px;
    margin-bottom: 0;
  	background-color: #00695C;
}

.basicDetailsTable{
	height: 300px;
    overflow: auto;
    padding: 0px;
    margin-bottom: 0;
}

.basicDetailsTable thead tr th {
	position: sticky;
	z-index: 100;
	top: -1px;
}

.jumbotron-table table thead tr th {
	background-color: #004D40;
	position: sticky;
	z-index: 100;
	top: -1px;
}

.bigBadge {
	line-height: 40px;
    padding: 0 15px !important;
    text-align: right;
    float: right;
    box-shadow: 8px 0px 0px #bbb inset !important;
}

.badge {
	padding: 3px;
    font-size: 13px;
    text-align: center;
    background: #ddd;
    color: #004d40;
    border-radius: 0;
    box-shadow: 6px 0px 0px #bbb;
}

.badge-success {
	background-color: #46ec46 !important;
    box-shadow: 6px 0px 0px #5cb85c !important;
    margin: 2px 45px;
    padding: 5px;
}

select.form-control{
	background: #eee;
	border-radius: 3px;
	font-size: 14px;
}

select.form-control option{
	padding: 5px 0;
}

.badgeAction {
	cursor:pointer;
}

.sidebar-sticky {
    padding: 15px;
	font-size: 0.875rem;
}

.sidebar-sticky.active{
	background-color: #004D40;
	border-bottom: 1px solid #004d40;
	box-shadow: 8px 0 0 #22fc7f inset;
}

#sideNavigation .fa{
	width: 25px;
}

.table {
	background-color: #004D40 !important;
	font-size: 14px;
}

.table tr {
	border-bottom: 1px solid #004D40 !important;
}

.table tr:hover {
    background-color: #004D40 !important;
    border : none;
}

.table tr td {
	padding:12px;
	border:none;
}

.table tr:nth-child(odd) {
	background: #484747;
}

.table tr:nth-child(even) {
	background: #424141;
}

.table thead th{
	padding:12px;
	box-shadow: 0px -8px 0px #04823a inset;
    background: #004d40;
    border: none;
}

.input-group-addon {
	padding: 9px;
    font-size: 18px;
    background: #048b75;
}

.modal-body {
	background: #004D40 !important; 
}

.modal-header, .modal-footer {
    background-color: #1a6256 !important;
}

#sideNavigation{
	overflow: hidden !important;
}

#sideNavigation:hover{
	overflow: auto !important;
}

.mainContent{
	overflow: auto;
}